<!--
 (C) Copyright (C) 2012-23 Authors of karakolas
 This file is part of karakolas <karakolas.org>.

 karakolas is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 karakolas is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU Affero General Public
 License along with karakolas.  If not, see
 <http://www.gnu.org/licenses/>.
-->
{{extend 'layout.html'}}
{{if page:}}
<h1>{{=page.title}}</h1>
{{=XML(page.body)}}
{{else:}}
<h1>{{=slug}}</h1>
{{=P(T('No hay texto para esta página'))}}
{{pass}}
{{if auth.has_membership('webadmins'):}}
{{=P(A(T('Editar esta página'), _href=URL(c='default', f='edita.html', vars=dict(slug=slug))))}}
{{pass}}

