<div id="hot_parent">
    <div id="hot"></div>
</div>
{{if nrecords>records_per_page:}}
    {{npages=nrecords//records_per_page + (1 if nrecords%records_per_page else 0)}}
<nav>
  <ul class="pagination hot_paginator">
    {{for page in range(npages):}}
    <li><a href="#">{{=page+1}}</a></li>
    {{pass}}
  </ul>
</nav>
{{pass}}
<input type="hidden" name="override" id="override"/>
<input type="hidden" name="button_submitted" id="button_submitted"/>
<div class="btn-group">
  {{for (button_name, button_text, button_type) in submit_buttons:}}
    <input type="submit" name="{{=button_name}}" id="{{=button_name}}" class="button-submit btn btn-{{=button_type}}" value="{{=button_text}}"/>
  {{pass}}
</div>

<script type="text/javascript">
var override = {};
var rowids = {{=XML(row_ids)}};

$(document).one('scripts_loaded', function(){
    var data, container, hot, rowHeader_width, colHeaders, rowHeaders, h, currentPage=1;
    container = document.getElementById("hot");
    if(container==null){
        return;
    }
    data = {{=XML(data)}};
    colHeaders = {{=XML(col_headers)}};
    rowHeaders = {{=XML(row_headers)}};
    nrecords = {{=nrecords}};
    records_per_page = {{=records_per_page}};
    container_parent = $('#hot_parent');
    rowWidth = 23;
    rowHeader_width = Math.max(Math.floor($(window).width()/4), 150);
    var h = (Math.min(records_per_page, nrecords)+2)*rowWidth;
    container_parent.css('height', h);
    $(container).css('height', h);
    container_parent.css('overflow', 'hidden');
    $(container).css('overflow', 'none');

    var getData = function (page) {
        var limit = records_per_page,
            start = Math.max((page - 1) * limit,0),
            end   = Math.min(page * limit, data.length);
        return data.slice(start,end);
    };
    var getRowHeaders = function (page) {
        var limit = records_per_page,
            start = Math.max((page - 1) * limit,0),
            end   = Math.min(page * limit, data.length);
        return rowHeaders.slice(start,end);
    };

    hot = new Handsontable(container, {
        data: getData(1),
        colHeaders: colHeaders,
        rowHeaders: getRowHeaders(1),
        rowWidths: rowWidth,
        columns: {{=XML(columns)}},
        afterValidate:function(isValid,value,row,prop,source){
            if(isValid){
                override[[rowids[(currentPage-1)*records_per_page + row], prop]] = value;
                Loader.hay_cambios();
            }
        }
    });
    var setPage = function(page){
        var arr = hot.getSettings().rowHeaders,
            headers_page = getRowHeaders(page),
            j=0;
        for(j=0;j<records_per_page;j++){
            arr[j] = headers_page[j] || '';
        }
        hot.loadData(getData(page));
        currentPage=page;
    };
    $('.hot_paginator').on('click', 'a', function (e) {
        var page = parseInt(this.innerHTML);
        setPage(page);
        e.preventDefault();
     });

     $('.button-submit').on('click', function(){
         $('#override').val(JSON.stringify(override));
         $('#button_submitted').val(this.id);
     });
    $('.handsontable col.rowHeader').css('width', rowHeader_width);

    /**compatibilidad bootstrap handsontable */
    var ex = document.getElementById('hot');
      table = ex.querySelectorAll('table');

      function findAncestor(el, cls) {
        while ((el = el.parentElement) && !el.classList.contains(cls)) {
          return el;
        }
      }

      for (i = 0, len = table.length; i < len; i++) {
        var tableInstance = table[i];
        var isMaster = !!findAncestor(tableInstance, 'ht_master');

        Handsontable.Dom.addClass(tableInstance, 'table');
        Handsontable.Dom.addClass(tableInstance, 'table-hover');
        Handsontable.Dom.addClass(tableInstance, 'table-striped');

        if (isMaster) {
          Handsontable.Dom.addClass(tableInstance, 'table-bordered');
        }
      }

})
</script>
