
{{if data:}}
<div id="chart_{{=chart_code}}"></div>

<div id="infodiv_{{=chart_code}}">
Haz click en una barra para ver los detalles.
</div>

<script type="text/javascript">
$(document).one('scripts_loaded', function(){
    // Can specify a custom tick Array.
    // Ticks should match up one for each y value (category) in the series.
    var ticks = {{=XML(ticks)}};
    var width = $(window).width();
    var location = (width>600)?'ne':'s'

    var plot1 = $.jqplot('chart_{{=chart_code}}', {{=data}}, {
        stackSeries: true,
        // The "seriesDefaults" option is an options object that will
        // be applied to all series in the chart.
        seriesDefaults:{
            renderer:$.jqplot.BarRenderer,
            rendererOptions: {fillToZero: true}
        },
        // Custom labels for the series are specified with the "label"
        // option on the series option.  Here a series option object
        // is specified for each series.
        series:[
            {{=XML(series_labels)}}
        ],
        // Show the legend and put it outside the grid, but inside the
        // plot container, shrinking the grid to accomodate the legend.
        // A value of "outside" would not shrink the grid and allow
        // the legend to overflow the container.
        legend: {
            show: true,
            placement: 'outsideGrid',
            location: location
        },

        axesDefaults: {
            tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
        },
        axes: {
            // Use a category axis on the x axis and use our custom ticks.
            xaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: ticks,
                autoscale : true,
            tickOptions: {
              angle: -20,
              fontSize: '10pt'
            }
            },
            // Pad the y axis just a little so bars can get close to, but
            // not touch, the grid boundaries.  1.2 is the default padding.
            yaxis: {
                min: 0,
                pad: 1.05,
                autoscale : true,
                tickOptions: {formatString: '%d'}
            }
        }
    });
  $('#chart_{{=chart_code}}').on('jqplotDataClick',
    function (ev, seriesIndex, pointIndex, data) {
      $('#infodiv_{{=chart_code}}').html(plot1.series[seriesIndex].label+', ' + ticks[pointIndex]+': '+data[1]);
    }
  );
});
</script>
{{else:}}
<p>{{=T('No hay datos que mostrar.')}}</p>
{{pass}}
