<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'es'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->

  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="karakolas" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--
  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
-->

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static', '/js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  <link href="{{=URL('static', 'css/calendar.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'css/web2py-bootstrap3.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'jquery-ui/themes/base/jquery-ui.css')}}" rel="stylesheet" type="text/css" />

  {{include 'web2py_ajax.html'}}

  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}


<!--         (NOT Placed at the end of the document, web2py grid needs it here) -->
  <script src="{{=URL('static', '/js/jquery.js')}}"></script>
  <script src="{{=URL('static', '/js/calendar_es.js')}}"></script>
  <script src="{{=URL('static', '/js/web2py.js')}}"></script>
  <script src="{{=URL('static', '/jquery-ui/ui/jquery-ui.js')}}"></script>
  <script src="{{=URL('static', '/js/modernizr.custom.js')}}"></script>
  <script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static', 'js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
	<script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
	<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
	<![endif]-->

<!-- Fix for web2py 2.9.11 and bootstrap 3: https://groups.google.com/forum/#!msg/web2py/HWZ_4gyUSPo/dsJrGh4POmEJ-->
    <script type="text/javascript">
        $(function () {
            //  remove classes and styling from dropdown 'welcome' menu on navbar
            $('i').removeClass('icon icon-user icon-off icon-lock icon-edit');
            $('ul.dropdown-menu li a').removeAttr('style');

        });
    </script>

</head>
<body>
  <div class="wrapper"><!-- for sticky footer -->

<div class="flash alert centered alert-dismissable">{{=response.flash or ''}}</div>

  <!-- Navbar ================================================== -->
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse"  id="response_menu">
                    <ul class="nav navbar-nav navbar-right">
                        {{='auth' in globals() and auth.navbar(T('Usuaria'),mode='dropdown') or ''}}
                    </ul>
                    {{if response.menu:}}
                    {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          {{#=LOAD(c='default', f='menu', ajax=False, ajax_trap=False)}}
                    {{pass}}
                </div>
            </div>
        </nav>

    <div class="main">
      <div class="container">
        <div class="sixteen columns">
          {{block center}}
          {{include}}
          {{end}}
        </div>

      <div id="div_ayuda">
	   {{=DIV(A(T('Ayuda de esta página'),
            _href=URL('plugin_wiki', 'page',
                      args=['ayuda_%s_%s'%(request.controller, request.function)],
                      scheme=C.wiki_externa_scheme,
                      host=C.wiki_externa_host
            ),
            _target='_blank',
            _class='btn btn-info'),
             A(T('Contacto'), _href=URL(c='default', f='index.html', vars=dict(slug='contacto')), _class='btn btn-default'), _class='btn-group pull-right')}}
</div>

      </div><!-- container -->
    </div><!-- main -->

    <div class="push"></div>
  </div><!-- wrapper -->

    <!-- Footer ================================================== -->
    <footer class="footer" id="footer">
        <div class="container">
            <div>Copyleft' &#169; 2011-2015
            <div class="pull-right">
                <a href="http://karakolas.org/" class="btn btn-default">karakolas.org <img src="{{=URL('static', '/images/logokarakolas.png')}}" alt="karakolas.org" style="width:35px;height:25px;"/></a>
            </div></div>
        </div>
    </footer>

</body>
</html>
