/**
 (C) Copyright (C) 2012-2015 Isidro Jiménez and Pablo Angulo
 This file is part of karakolas <karakolas.org>.

 karakolas is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 karakolas is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU Affero General Public
 License along with karakolas.  If not, see
 <http://www.gnu.org/licenses/>.
*/
body {
background-color: #FCFCFA;
}
#main_and_footer{
  padding: 20px 1% 50px 1%;
  background-image:url('../img/bglogo.png');
  background-repeat:no-repeat;
  background-attachment:no;
  background-position:right bottom;
}
#main-region{
padding-left:1%;
padding-right:1%;
}
h1{
margin-top:10px;
margin-bottom:10px;
padding-left:15%;
font-size:22pt;
color:#FF8000;
text-shadow: black 1px 1px 1.5px;
}
h1#title{
border-radius:6px;
padding:5px;
border:1px solid #999;
margin-left:5%;
margin-right:5%;
text-align:center;
background-color:#EEE;
}
h1#title span{
margin-left:10px;
vertical-align:text-bottom;
}
h3{
margin-left:5px;
font-size:17pt;
color:#FF8000;
}
h2{
margin-top:30px;
padding-left:10%;
font-size:22pt;
color:#FF8000;
text-shadow: black 1px 1px 1.5px;
}
.span4 h2, .span6 h2{
padding-left: 20px;
}
.span6 h3{
margin-top:0px;
}
nav.navbar{
margin-bottom:0px;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand img{
height:50px;
}
.navbar-brand img.peque{
height: 45px;
padding: 0 0 0 30px;
}
.navbar .nav {
margin-left: 5%;
}
#div_ayuda{
clear:both;
margin:15px;
}
#div_ayuda p{
text-align:right;
}
table {
border-collapse: collapse;
/*border: 7px solid #F2F2F2;*/
background-color:#F2F2F2;
margin:2px;
}
th, td {
vertical-align: middle;
border: 1px solid rgb(184, 184, 184);
padding-left:2px;
padding-right:2px;
text-align: left;
}
tr.datos td{
  text-align: right;
}
tr.datos td:first-child{
  text-align: left;
}
th, caption {
background-color: #F0C08D;
}
table tr:nth-child(even) {
    background: #CCC;
}
table tr:nth-child(odd) {
    background: #F2F2F2;
}
div.sixteen  li{
list-style:disc outside;
}
ul.dropdown-menu  li{
list-style:none;
}
dt{
font-size:110%;
font-weight:110% ;
}
dd{
margin-left:20px;
font-size:90%;
font-style:italic;
}

input.integer{
width:30px;
}
input.decimal{
width:70px;
margin-left:10px;
}
fieldset{
border:1px dashed grey;
border-radius:3px;
padding:2px;
margin:2px;
}
fieldset input{
margin-top: 3px;
margin-left: 3px;
}
label{
margin: 2px 2px 2px 10px;
}
span.label-large {
    padding: 8px;
}
a.my_tooltip {
color:black;
}
a.my_tooltip:hover {
text-decoration:none;
}
a.my_tooltip li {
list-style:none;
}
a.my_tooltip span {
display:none;
margin:0 0 0 10px;
padding:5px 5px;
}
a.my_tooltip:hover span {
display:inline;
position:absolute;
border:1px solid #cccccc;
background:#ffffff;
color:#666666;
}
.controles-ods{
margin: 0 0 2% 5%;
}
#instrucciones{
border:black solid 1px;
padding:5px;
margin:10px;
}
/*Cambio el estilo del paginador del web2py grid*/
.web2py_counter {
    margin:4px 5px 2px 5px;
}
.web2py_paginator {
    padding:5px;
    text-align:left;
}
.web2py_paginator ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.web2py_paginator ul li {
    display:inline;
    padding: 5px;
    margin:2px;
    border:#CCC 1px solid;
    border-radius:3px;
    background-color:#EEE;
}
.web2py_paginator .current {
    font-weight:bold;
    background-color:#DDD;
}
/** bloques: se usan para mostrar bloques de pedidos, en pedir/vista_pedidos o en gestion_pedidos/gestion_pedidos, porZ**/
.bloque>div{
margin:5px 2px 2px 2px;
border:2px dotted #666;
padding:2px;
text-align: center;
border-radius: 6px;
}
.bloque>div h5{
background-color: #F0C08D;
border-radius:6px;
padding:2px;
margin-top:0px;
}
div.bloque li{
list-style-type: none;
}
.bloque div.row{
width:90%;
}
/** gestion_pedidos.css */
.peticion_no_satisfecha{
text-decoration: line-through;
background:#F44;
padding:2px;
margin:2px;
}
.discrepancia{
color:#F44;
padding:2px;
margin:2px;
}
.pedidos td .glyphicon, .pedidos_coordinados td .glyphicon{
font-size:140%;
}
div.boton{
background-color:#999;
width:300px;
text-align:center;
margin-bottom:15px;
}
#lista_informes{
border:1px solid black;
margin:5px;
}
.cool_radio .btn span.glyphicon {
	opacity: 0;
}
.cool_radio .btn.active span.glyphicon {
	opacity: 1;
}
.cool_radio .btn {
    background-color: #e6e6e6;
}
.cool_radio .btn.active {
    background-color: #449d44;
    color: #fff;
}
.cool_checked .btn span.glyphicon {
	opacity: 0;
}
.cool_checked .btn.active span.glyphicon {
	opacity: 1;
}
.cool_checked .btn {
    background-color: #e6e6e6;
    width: 100%;
    text-align: left;
}
.cool_checked {
    width: 100%;
    text-align: left;
}
.cool_checked .btn.active {
    background-color: #449d44;
    color: #fff;
}
.cool_disabled {
    width: 100%;
    text-align: left;
}
.cool_disabled .btn{
    width:100%;
    text-align: left;
    color: #000;
}
.tabla_productor_cool {
    background-color:inherit;;
}
.tabla_productor_cool th, td {
    border: none;
}
.tabla_productor_cool th, caption {
    background-color: inherit;
}
table.tabla_productor_cool  tr:nth-child(even) {
    background: inherit;
}
table.tabla_productor_cool  tr:nth-child(odd) {
    background: inherit;
}
#instrucciones, .coordinado{
display:none;
}
p.total_productor{
font-weight:bold;
font-size:110%;
}
p.gran_total{
font-weight:bold;
font-size:110%;
}
#pedido_reglas, #textarea_reglas{
height:300px;
font-family:monospace;
font-size:110%;
}
.fecha_pasada{
color:#F30;
}
div.full_width table{
width:100%;
}
tr td.destacado{
background:#FBB;
}
/* td.destacado{
border: 3px #A22 dashed;
} */
td.precio_producto_grupo, td.precio_producto_red, td.precio_unitario, th.precio_producto_grupo, th.precio_producto_red, th.precio_unitario{
  border-right: 1px #000 solid
}
.controles{
margin-bottom: 30px;
}
#pedido_info_cierre{
height:60px;
}
#formula_sobreprecio, #proxy_pedido_formula_coste_extra_pedido, #pedido_formula_coste_extra_pedido, #pedido_formula_coste_extra_productor, #productor_formula_coste_extra_pedido, #productor_formula_coste_extra_productor{
font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
color:#d14;
background-color:#f7f7f9;
margin-top:5px;
}
#formula_sobreprecio.error_en_formula{
  border: 3px dashed #C00;
}
#botones_formula_sobreprecio{
  margin-left:10px;
  margin-bottom: 5px;
}
#cargar_discrepancias_grupo{
  margin-top:10px;
}
#form_nuevos_pedidos input[type=text], #form_nuevos_pedidos textarea{
width:100%;
}
/** handsontable se usa en peticiones e incidencias */
.handsontable table.htCore {
  border-collapse: collapse;
}
.handsontable   table.htCore tbody tr:nth-child(odd) th{
  background-color: #f6d0a9;
}
.handsontable table.htCore tbody tr:nth-child(even) th{
  background-color: #F0C08D;
}
.handsontable   table.htCore thead th{
  background-color: #F0C08D;
}
#form_rango_fechas{
margin-top:10px;
}
th .glyphicon{
font-size:120%;
}
div.pedidos td, div.pedidos_coordinados td{
text-align:center;
vertical-align:middle;
padding:2px;
}
div.form-area{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
    border-radius: 5px;
}
span.cantidad_anterior{
    margin:0px 3px 0px 3px;
    text-decoration: line-through;
    color:#444;
}
span.cantidad_nueva{
    font-weight: bold;
    color: #200;
}
/* Productores */
tr.fuera_temporada, tr.desactivado{
    color:#999;
}
.boton_nueva_columna{
width:150px;
text-align:center;
margin:5px 5px 5px 30px ;
}
.boton_anade_1_filas, .boton_anade_5_filas, .boton_anade_25_filas, .boton_nueva_columna{
width:200px;
text-align:center;
}
.boton_anade_1_filas, .boton_anade_5_filas{
background-color:#999;
}
.boton_anade_25_filas, .boton_nueva_columna{
background-color:#99E;
}
.delete_row_button{
width:20px;
max-width: inherit;
}
.delete_row_button div{
margin-top:3px;
padding-bottom:3px;
width:15px;
height:15px;
background-color:#DDD;
text-align:center;
vertical-align:center;
font-size:120%;
border: 1px solid black;
}
.delete_col_button{
margin:3px;
padding-bottom:3px;
width:10px;
height:10px;
background-color:#DDD;
text-align:center;
vertical-align:center;
font-size:120%;
border: 1px solid black;
}
#instrucciones{
border:black solid 1px;
padding:5px;
margin:10px;
}
#div_controles_avanzados{
border:black solid;
border-width: 1px 1px 0px 1px;
}
div.nueva_columna{
border:black solid;
border-width: 0px 1px 1px 1px;
}
#instrucciones, #div_controles_avanzados, div.nueva_columna, .delete_col_button{
display:none;
}
#instrucciones, #div_controles_avanzados, div.nueva_columna{
padding:5px;
}
#formula_precio_final, #formula_precio_productor
{
height:26px;
min-height:26px;
margin:0px;
padding:0px;
display:inline;
}
.ertable_field_decimal, .ertable_field_precio_base, .ertable_field_precio_productor, .ertable_field_precio_final, .ertable_field_nombre, .ertable_field_valor{
width:60px;
}
.ertable_field_nombre, .ertable_field_descripcion, .ertable_field_string{
width:200px;
}
#formula_precio_final, #formula_precio_productor{
width:90%;
font-size:120%;
font-weight:bold;
font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
color:#d14;
background-color:#f7f7f9;
}
#formula_precio_final, #formula_precio_productor, #proxy_productor_formula_coste_extra_pedido{
font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
color:#d14;
background-color:#f7f7f9;
}
.ertable td, .ertable tr
{
/**height:22px;*/
margin:0px;
padding:2px;
}
.ertable tr input[type="checkbox"]{
padding-top:2px;
padding-left:2px;
}
.table_productos table{
width:100%;
}
#div_controles_avanzados table{
width:inherit;
}
#form_nuevo_productor{
background:#EEE;
border-radius:6px;
border: solid 1px #DDD;
padding:8px;
}
/**  Pedir */
#productos_inner{
 margin-top:5px;
}
#productos_inner div.panel-categoria-productos{
margin-bottom:0px;
}
textarea.comentarioApeticion{
height:60px;
}
p.total_productor{
font-weight:bold;
font-size:110%;
}
p.gran_total, p.saldo{
font-weight:bold;
font-size:120%;
}
span.peticion_no_satisfecha{
font-style:italic;
text-decoration:line-through;
color:#666;
font-size:90%;
}
.boton_pedir{
margin-left:15px;
}
.fecha_pasada{
color:#F30;
}
.xscrolltable {
    overflow-x: auto;
}
.xscrolltable tr.datos td{
  white-space: normal !important;
  word-wrap: break-word;
}
#table_peticion td.precio{
    width:50px;
}
.lista_pedidos{
padding:2px 10px 2px 10px;
}
span.icon-ok{
color:#0F3;  /*verde*/
}
span.icon-warning{
color:#F30;
}
span.icon-pendiente{
  color:#fe3bff;  /*rosa*/
}
span.icon-asume-red{
  color:#ff6b1c;  /*naranja*/
}
span.icon-asume-grupo{
  color:#572364;  /*morado*/
}
span.icon-discrepancia-none{
  color:grey;  /*gris*/
}
#modal_producto img{
width:100%;
}
span.glyphicon-bell.icon-incidencias-grupo{
color:#F30;
}
span.glyphicon-bell.icon-incidencias-red{
color:#DC1;
}
span.glyphicon-bell{
color:#D17A2F;
}
/** Contabilidad */
.tabla_saldos td{
    text-align: right;
}
.tabla_saldos tfoot{
    border:2px solid;
}
#excepciones table{
padding:3px;
margin:10px;
margin-left:5%;
}
/** Estadisticas */
.total{
font-weight:bold;
}
/**
Lo dejo para referencia, pero al final no lo uso porque de estas cosas se ocupa el fixheadertable
http://stackoverflow.com/questions/1893751/how-to-prevent-line-break-in-a-column-of-a-table-cell-not-a-single-cell

#tabla_coste_extra thead th, #tabla_productores thead th, #tabla_grupo thead th{
white-space: nowrap;
}
*/
/** Ficheros */
div.main>div.container{
width:100%;
}
#toolbar>button{
display:inline;
}
h1.destacado,#contents.grid li.destacado, table tr.destacado{
background:#FFC;
border:1px solid black;
border-radius:5px;
}
textarea.editor_texto{
height:200px;
font-family:monospace;
color:#000;
width:80%;
}
textarea#filecontent{
font-family:monospace;
color:#000;
}
#filecontent{
padding: 10px;
margin:2%;
border:1px solid black;
border-radius:5px;
width:90%;
height:500px;
overflow:auto;
}

/** Grupo */
#acordeon_opciones span.glyphicon{
    margin-right:8px;
}
#acordeon_opciones span.descripcion_grupo_config{
    font-variant: small-caps;
    font-weight: bold;
}
.simbolo_moneda{
    margin:4px;
    padding: 4px;
    border: 1px solid #666;
}
#div_textos_grupo{
margin-top:5px;
margin-bottom:5px;
padding:5px;
background:#EEE;
}
div.tweakedradiowidget  li{
list-style:none;
}
.ertable_field_unidad{
width:80px;
}
/** plugin_wiki */
.plugin_wiki_info{
margin-top:30px;
margin-left:10px;
font-size:90%;
}
