div.flash {
    background-image: none;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    font-weight: 400;
    min-width: 28px;
    max-width: 300px;
    opacity: 1;
    vertical-align: baseline;
    right: auto;
    border-width: 1px;
    margin: 0 0 20px;
    padding: 15px 35px 15px 15px;
}
div.flash.alert:hover {
    opacity: 1;
}
.ie-lte8 div.flash {
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#000000', GradientType=0);
}
.ie-lte8 div.flash:hover {
    filter: alpha(opacity=25);
}
.main-container {
    margin-top: 20px;
}

div.error {
    width: auto;
    background: transparent;
    border: none;
    background-image: none;
    color: red;
    display: inline-block;
    padding: 5px;
}
div.flash.alert {
    display: none;
    position: fixed;
    top: 70px;
    right: 75px;
    cursor: pointer;
    z-index: 1000;
    background-color: #f9edbe;
    border-color: #f0c36d;
}
.w2p-toolbar-hidden {
    margin: 10px;
}
ul.w2p_list {
    margin-left: 0;
    padding-left: 0;
}
.w2p_list li {
    margin-bottom: 6px;
}
.w2p_list li input {
    display: inline-block;
    width: 85%;
    margin-right: 4px;
}
.w2p_list li a {
    margin-bottom: 2px;
}
div[id^=_autocomplete_] {
    margin-top: -10px;
    z-index: 1;
}
select.autocomplete {
    display: block;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-color: #428bca;
    padding: 6px 12px;
}
#web2py-logo {
    color: #c6cecc;
}
#web2py-logo b {
    display: inline-block;
    margin-top: -1px;
}
#web2py-logo b>span {
    font-size: 22px;
    color: #FFF;
}
#web2py-logo:hover {
    color: #FFF;
}
.footer > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
}
.background {
    background: url(../images/background.jpg) no-repeat center center;
}
header {
    -webkit-box-shadow: 0 0 8px 2px #000;
    -moz-box-shadow: 0 0 8px 2px #000;
    box-shadow: 0 0 8px 2px #000;
    margin-bottom: 10px;
}
html {
    position: relative;
    min-height: 100%;
}
.footer {
    margin-top: 20px;
    padding:5%;
}
header h1 {
    color: #FFF!important;
    text-shadow: 0 0 7px #000;
}
header .jumbotron {
    background-color: transparent;
}
.flash {
    opacity: 0.9!important;
    right: 100px;
}
.right {
    float: right;
    text-align: right;
}
.left {
    float: left;
    text-align: left;
}
.center {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
td.w2p_fw {
    padding-bottom: 1px;
}
td.w2p_fl {
    text-align: left;
}
td.w2p_fl,
td.w2p_fw {
    padding-right: 7px;
}
td.w2p_fl,
td.w2p_fc {
    padding-top: 4px;
}
div.w2p_export_menu {
    margin: 5px 0;
}
div.w2p_export_menu a,
div.w2p_wiki_tags a,
div.w2p_cloud a {
    margin-left: 5px;
    padding: 2px 5px;
}
#submit_record__row td {
    padding-top: .5em;
}
div.error_wrapper {
    display: block;
}
.copyright {
    float: left;
}
#poweredBy {
    float: right;
}
.web2py_console form {
    width: 100%;
    display: inline;
    vertical-align: middle;
    margin: 0 0 0 5px;
}
.web2py_console form select {
    margin: 0;
}
.web2py_search_actions {
    float: left;
    text-align: left;
    width: 100%;
}
.web2py_grid .row_buttons {
    min-height: 25px;
    vertical-align: middle;
}
.web2py_grid .row_buttons a {
    margin: 3px;
}
li.w2p_grid_breadcrumb_elem {
    display: inline-block;
}
.web2py_console input,
.web2py_console select,
.web2py_console a {
    margin: 2px;
}
#wiki_page_body {
    width: 600px;
    height: auto;
    min-height: 400px;
}
.ie-lte7 .topbar .container {
    z-index: 2;
}
.ie9 #w2p_query_panel {
    padding-bottom: 2px;
}
.web2py_console .form-control {
    width: 20%;
    display: inline;
    height: 100%;
}
.web2py_console #w2p_keywords {
    width: 50%;
}
.web2py_search_actions a,
.web2py_console input[type=submit],
.web2py_console input[type=button],
.web2py_console button {
    padding: 6px 12px;
}
td.w2p_fl,
td.w2p_fw,
td.w2p_fc,
#web2py_user_form td,
.web2py_grid .web2py_form td {
    vertical-align: top;
}
#auth_user_remember__row label,
.web2py_paginator ul li {
    display: inline;
}
.web2py_grid,
.web2py_grid table {
    width: 100%;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 4px 0 0;
}
