/*Variantes flex*/
.flex_column {
  display: flex;
  flex-direction: column;
}

/*Fuentes*/
.font_25 {
  font-size: 25px;
}
.font_16 {
  font-size: 16px;
}

/*Colores*/
.gray_666 {
  color: #666;
}

.azul_primary {
  color: #0054e9;
}

.azul_units_card {
  color: #0043b9;
}

/*Iconos en linea*/
.icon_inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Muestra cursor de clic */
  /*margin: 0 4px;  Opcional: para ajustar espacio entre iconos */
}
