<!--
 (C) Copyright (C) 2012-23 Authors of karakolas
 This file is part of karakolas <karakolas.org>.

 karakolas is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.

 karakolas is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU Affero General Public
 License along with karakolas.  If not, see
 <http://www.gnu.org/licenses/>.
-->
{{extend 'layout.html'}}

<h1>{{=T('Administración de ') + nombre_grupo}}</h1>
<h2>{{=T('Lista de administradoras')}}</h2>
{{=LOAD('default','lista_miembros.load', ajax=True, vars=dict(group_id=iadmins))}}

<h2>{{=T('Añadir administrador')}}</h2>
{{=new_admin}}


<h2>{{=T('Lista de personas')}}</h2>
{{=LOAD('default','lista_miembros.load', ajax=True, vars=dict(group_id=imiembros))}}

<h2>{{=T('Añadir miembro')}}</h2>
{{=new_miembro}}

<h2>{{=T('Unidades')}}</h2>
{{=miembros}}
