.badgePedido{
    flex: 1;
    width: 100%;
    position: relative;
    border-radius: 4px;
    background-color: #27ae60;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 7px;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-family: Roboto;
}