.badgeRol {
    display: inline-flex; /* Flexbox solo para el contenido interno del badge */
    flex-direction: row; /* Asegura que el contenido esté alineado en una fila */
    align-items: center; /* Centra verticalmente los elementos internos */
    justify-content: center; /* Centra horizontalmente los elementos internos */
    border-radius: 0.5em;
    padding: 0.4em 0.4em;
    box-sizing: border-box;
    font-size: 16px;
    color: #424242;
    font-family: Roboto;
    margin-top: 0.3em;
    margin-left: 2em;
  }
  
  .logo_container {
    display: flex;
    justify-content: left;
    padding: 1em;
    margin-left: 3em;
  }
  
  .content_container {
    display: block;
    justify-content: right;
  }
  
  .title {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: "Roboto";
    padding-top: 5%;
  }
  
  .group_cards_container {
    display: flex;
    gap: 2em;
    padding-top: 5%;
    margin-right: 1%;
    justify-content: center;
  }
  
  .group_card_container {
    text-align: center;
  }
  
  .group_card {
    width: 100%;
  }
  
  .group_card_img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .group_name {
    margin-left: 10%;
    font-family: "Roboto";
    font-size: 1.5em;
    display: flex;
    justify-content: center;
  }
  
  .admin_badge {
    background-color: #f4d8ff;
  }
  
  .member_badge {
    background-color: #d9e7ff;
  }
  
  .badge_text {
    text-transform: uppercase;
  }
  