.a-icono-correcto {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.confirmacin-xito {
    width: 408px;
    position: relative;
    line-height: 22px;
    display: inline-block;
    flex-shrink: 0;
}
.a-icono-correcto-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.a-icono-cruz {
    width: 14px;
    position: relative;
    height: 14px;
}
.a-icono-cruz-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0px 0px;
}
.en-espaa-la {
    width: 628px;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    display: none;
    flex-shrink: 0;
}
.typesuccess-actiondefault {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: rgba(222, 246, 232, 0.9);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 14px 10px 8px;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    color: #0e4a3a;
    font-family: Inter;
}

.text-responsive {
    font-size: 4vw; /* Para pantallas móviles */
  }
  
  @media (min-width: 768px) {
    .text-responsive {
      font-size: 2vw; /* Para tablets y pantallas más grandes */
    }
  }
  
  @media (min-width: 1200px) {
    .text-responsive {
      font-size: 1.5vw; /* Para pantallas grandes de escritorio */
    }
}

