/*Columna de la izquierda*/
.log_left_column {
  padding: 1em;
  display: block;
  justify-content: center;
  align-items: center;
}
/*Imagen de la izquierda que desaparece en movil*/
.log_img_container {
  overflow: hidden;
  display: flex;
  height: 100vh;
  border-radius: 2em;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/*Columna derecha con ionic*/
.log_login_container {
  display: block;
  padding: 10%; 
}
@media (min-width: 768px) {
  .log_login_container {
    padding: 3% 5em 5em 3em;  /*Menos padding*/
  }
}

@media (min-width: 1200px) {
  .log_login_container {
    padding: 3% 10em 10em 9em;  /*Estilo original pantalla ancha*/
  }
}

/*Logo derecha retocado para ionic*/
.log_karakolas_logo {
  display: flex;
  justify-content: center;
  max-width: 200px; /*Mejor que porcentaje?*/
  margin: 0 auto; /* Centra la imagen */
}

.log_text_container {
  padding-top: 20%;
}
/* Titulo tiene que ser más pequeño en movil para ser legible*/
.log_title {
  font-size: 1.25em; /* Para pantallas moviles */
  margin: 1em 0;
  text-align: center;
}

@media (min-width: 768px) {
  .log_title {
    font-size: 1.5em; /* Para tablets y pantallas mas grandes */
  }
}

@media (min-width: 1200px) {
  .log_title {
    font-size: 2em;/*Configuracion original sobremesa */
  }
}

.log_text_def {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 6%;
  font-family: Roboto;
  font-size: 1em;
  color: #2d2d2d;
}

.log_user_inputs {
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

.log_forgot_password {
  padding-right: 6%;
  text-align: right;
}

.log_login_buttons {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
