.dashboard_grid {
  margin: 0.5%;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 4em;
}

.dashboard_hello {
  font-size: 3em;
  padding-bottom: 0.5em;
}

.dashboard_group {
  font-size: 1em;
  padding-bottom: 0.5em;
}

.reparto_div {
  max-width: 100%;
  border: 8px;
  padding: 8px;
  background-color: #f1e7ffcc;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .reparto_div {
    max-width: 45%;
    margin-bottom: 0;
  }
}

.reparto_button_container {
    min-height: 100px; /*Para que no se solapen los botones en movil*/
}
  

.reparto_cube_color {
  color: #9747ff;
}

.reparto_title_text {
  font-size: 1.5em;
  color: #9747ff;
}

.reparto_detail_text {
  padding-left: 2em;
  padding-right: 2em;
}

.reparto_download_icon {
  color: #682db5;
}
.reparto_recuento_button {
  color: #9747ff;
}

.ultimos_pedidos {
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.calendar_bottom_text {
  font-size: 0.8em;
}

/* Estilo común circulos leyenda*/
.calendar_legend_circle {
  border-radius: 50%;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
}

/* Colores reparto, cierre y apertura*/
.calendar_legend_circle.reparto {
  background-color: purple;
}

.calendar_legend_circle.cierre {
  background-color: blue;
}

.calendar_legend_circle.apertura {
  background-color: green;
}

.next_task_area {
  max-width: 100%;
  border: 8px;
  padding: 8px;
  background-color: #ebf2ffcc;
  position: relative;
  display: flex;
}

@media (min-width: 992px) {
  /*Igual que header */
  .next_task_area {
    max-width: 45%;
  }
}

.next_task_info_color {
  color: #0054e9;
}

.next_task_text {
  padding-top: 0.2em;
  margin-left: 1em;
}

.next_task_close {
  padding-left: 1em;
}

.next_task_pedir {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

/*sacar a un css general?*/
.no_padding {
  padding: 0;
}

.alert_container {
  width: 90%;
}

@media (min-width: 992px) {
  .alert_container {
    width: 43%;
  }
}
