.custom_badge {
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
}

.badge_esquina {
  position: absolute;
  top: 10px;
  left: 10px;
}

.badge_linea {
  display: inline-flex;
  margin-left: 10px;
}

.badge_abierto {
  background-color: #27ae60;
}

.badge_cerrado {
  background-color: #3880ff;
}

.badge_reparto {
  background-color: #9b51e0;
}

.badge_revision {
  background-color: #eb5757;
}

.badge_consolidado {
  background-color: #00c7be;
}
