.circle_style {
    border-radius: 50%;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.8em;
  
  }
  
  .circle_style.blue {
      background-color: blue;
  }
  
  .circle_style.purple {
      background-color: purple;
  }