.badgeCierre {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 7px;
}

.fullBadgeCierre {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 13px;
    color: #42464e;
    font-family: Roboto;
}

td{
    border-bottom: 1px solid rgb(160 160 160);
    padding: 1em 1em 1em 1em
}
/* .tus-pedidos-a {
    position: absolute;
    top: 154px;
    left: 123px;
    font-size: 32px;
    display: flex;
    align-items: center;
    width: 737px;
    height: 48px;
}
.una-vez-el {
    position: absolute;
    top: 465px;
    left: 126px;
    line-height: 22px;
    display: flex;
    align-items: center;
    width: 753px;
    height: 54px;
}
.pedido-a-menudos {
    width: 223px;
    position: relative;
    display: flex;
    align-items: center;
    height: 22px;
    flex-shrink: 0;
}
.b {
    width: 80px;
    position: relative;
    display: flex;
    align-items: center;
    height: 22px;
    flex-shrink: 0;
}
.pedido-a-menudos-huertos-parent {
    position: absolute;
    top: 346px;
    left: 126px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.ch-madrid-dulces {
    width: 223px;
    position: relative;
    display: flex;
    align-items: center;
    height: 18px;
    flex-shrink: 0;
}
.ch-madrid-dulces-y-salados-parent {
    position: absolute;
    top: 396px;
    left: 126px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.label {
    position: relative;
    line-height: 140%;
    font-weight: 500;
}
.badge-pedido {
    border-radius: 4px;
    background-color: #d4e4ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 7px;
}
.div {
    width: 80px;
    position: relative;
    font-size: 16px;
    color: #000;
    text-align: left;
    display: flex;
    align-items: center;
    height: 22px;
    flex-shrink: 0;
}
.badge-pedido-parent {
    position: absolute;
    top: 346px;
    left: 453px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 13px;
    color: #42464e;
}
.badge-pedido1 {
    border-radius: 4px;
    background-color: #f1e1ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 7px;
}
.badge-pedido-group {
    position: absolute;
    top: 346px;
    left: 603px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 13px;
    color: #42464e;
}
.badge-pedido-container {
    position: absolute;
    top: 396px;
    left: 603px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 13px;
    color: #42464e;
}
.frame-div {
    position: absolute;
    top: 396px;
    left: 453px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 13px;
    color: #42464e;
}
.confirmacin-de-pedidos-child {
    position: absolute;
    top: 383.5px;
    left: 127.5px;
    max-height: 100%;
    width: 614px;
}
.confirmacin-de-pedidos-item {
    position: absolute;
    top: 433px;
    left: 128px;
    max-height: 100%;
    width: 614px;
}
.label4 {
    position: relative;
    letter-spacing: 0.84px;
    line-height: 257%;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-master-normal {
    border-radius: 4px;
    background-color: #3880ff;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 15.4px;
    box-sizing: border-box;
}
.button {
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: #fff;
}
.btn-master-normal1 {
    border-radius: 4px;
    border: 1px solid #3880ff;
    box-sizing: border-box;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 15.4px;
}
.button1 {
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.close-icon {
    width: 19px;
    position: relative;
    height: 19px;
    overflow: hidden;
    flex-shrink: 0;
}
.btn-master-normal3 {
    border-radius: 4px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
    gap: 4px;
}
.button3 {
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #eb445a;
}
.button-parent {
    position: absolute;
    top: 579px;
    left: 123px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    text-align: center;
    font-size: 14px;
    color: #3880ff;
}
.frame-child {
    width: 20px;
    height: 22px;
    object-fit: contain;
}
.recuerda-que-los {
    margin: 0;
}
.debe-definir-al-container {
    width: 406px;
    position: relative;
    line-height: 20px;
    display: inline-block;
    flex-shrink: 0;
}
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}
.a-icono-cruz {
    width: 14px;
    position: relative;
    height: 14px;
}
.a-icono-cruz-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0px 0px;
}
.m-alertas {
    position: absolute;
    top: 236px;
    left: 124px;
    border-radius: 8px;
    background-color: #ebf2ff;
    width: 490px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 14px 10px 8px;
    box-sizing: border-box;
    font-size: 14px;
    color: #515151;
    font-family: Inter;
}
.menu-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0.17%;
    right: 0%;
    bottom: -0.17%;
    left: 0%;
    background-color: #fff;
}
.mdiuser-icon {
    position: absolute;
    top: 17.97px;
    right: 105.57px;
    border-radius: 25px;
    width: 34.2px;
    height: 33px;
    overflow: hidden;
    cursor: pointer;
}
.phquestion-icon {
    position: absolute;
    top: 18.97px;
    right: 49.25px;
    width: 31.2px;
    height: 30px;
    overflow: hidden;
}
.button4 {
    position: absolute;
    top: 18px;
    left: calc(50% + 432.1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.logo-child {
    width: 30px;
    position: relative;
    height: 35px;
}
.karakolas {
    width: 109.6px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 28.5px;
    flex-shrink: 0;
}
.logo {
    position: absolute;
    top: 18px;
    left: 129px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    cursor: pointer;
    font-size: 24px;
    color: #4c4c4c;
    font-family: Manrope;
}
.pedidos-de-grupo {
    position: relative;
    letter-spacing: 0.25px;
    line-height: 18px;
}
.productores {
    width: 93px;
    position: relative;
    letter-spacing: 0.25px;
    line-height: 18px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.chevron-down-outline-icon {
    width: 18px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
}
.la-chiriva-parent {
    width: 109px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    cursor: pointer;
}
.pedidos-de-grupo-parent {
    position: absolute;
    top: 27px;
    left: 602px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 36px;
    color: #000;
}
.menu {
    position: absolute;
    top: 0px;
    left: -4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    width: 1444px;
    height: 70px;
    color: #fff;
}
.confirmacin-de-pedidos {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 834px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}
 */
