.collapsibleContainer
{
}

.collapsibleContainerTitle
{
    cursor:pointer;
}

.collapsibleContainerTitle div
{
    padding-top:5px;
    padding-left:10px;
}

.collapsibleContainerContent
{
    padding: 10px;
}
    
