/** 
 (C) Copyright (C) 2012, 2013 Isidro Jiménez and Pablo Angulo
 This file is part of karakolas <karakolas.org>.

 karakolas is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as 
 published by the Free Software Foundation, either version 3 of the 
 License, or (at your option) any later version.

 karakolas is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU Affero General Public 
 License along with karakolas.  If not, see 
 <http://www.gnu.org/licenses/>.
*/

/**TODO: investiga como quitar las marcas para agrandar los textarea, 
//y como quitar el relleno remanente entre el textarea y el td
*/

/**
RWSheet
*/
table.rwsheet{
margin:0px;
padding:0px;
border-spacing:0px;
}
table.rwsheet > *{
margin:0px;
padding:0px;
}
table.rwsheet input, table.rwsheet textarea{
width:60px;
height:20px;
min-width:50px;
min-height:20px;
margin:0px;
padding:0px;
box-sizing:box;
border: 1px solid #DDD;
}
.rwsheet, .rwsheet td, .rwsheet > tr, .rwsheet th {
margin:0px;
padding:3px;
border: 1px solid black;
}
div#active_product{
width:100%;
height:40px;
border:2px black dashed;
background:#CDF;
}
div#active_product p{
font-size:150%;
text-align:center;
}
/**
ERTable
*/
.delete_row_button{
width:20px;
}
.delete_row_button div{
margin-top:3px;
padding-bottom:3px;
width:15px;
height:15px;
background-color:#DDD;
text-align:center;
vertical-align:center;
font-size:120%;
border: 1px solid black;
}

.ertable_field_string, .ertable_field_decimal, .ertable_field_boolean, textarea.string, textarea.text, textarea.decimal
{
height:24px;
min-height:24px;
margin:0px;
padding:0px;
display:inline;
}
.ertable_field_decimal {
width:60px;
}
.ertable_field_string, textarea.string{
width:200px;
height:20px;
}
textarea.text{
width:250px;
height:60px;
}
.boton_anade_1_filas, .boton_anade_5_filas, .boton_anade_25_filas{
width:200px;
text-align:center;
}
.boton_anade_1_filas, .boton_anade_5_filas{
background-color:#999;
}
.boton_anade_25_filas{
background-color:#99E;
}

