.alert_container {
  display: flex;
  flex-direction: column;
  border-radius: 0.8em;
  margin: 0.5em;
}

.alert_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  /* margin-bottom: 0.5em;*/
}

.alert_text_container {
  flex-grow: 1;
  margin-left: 0.5em; /* Ajusta la distancia entre el icono y el texto */
}

.alert_title {
  flex-grow: 1;
  flex-direction: column;
  /*  font-family: "Roboto";
    font-style: normal;*/
  font-size: 1.5em;
  margin-top: 0.3em;
  text-align: left;
  /* font-weight: bold;*/
  color: #515151;
}

.alert_message {
  flex-grow: 1;
  color: #666;
  text-align: left;
  font-weight: normal;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* font-family: 'Inter';*/
  /*line-height: 22px;*/
}

.alert_buttons_container {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.alert_close_button_container {
  align-items: flex-end;
}

.alert_close_button {
  color: gray;
  /*margin-bottom: 0.5em*/
}

.alert_action_buttons {
  display: flex;
  gap: 0.2em;
  margin-top: 0.2em;
}

.alert_action_button {
  display: flex;
  align-items: flex-end;
  height: 3em;
  /*font-weight: bold;*/
}

/*Segundo boton hoja reparto*/

.alert_hoja_reparto {
  background: #e5d0ff;
  border-radius: 4px;
  --border-color: #e5d0ff;
}

/* Colores de fondo */

.alert_success {
  background-color: rgba(222, 246, 232, 0.9); /* Verde claro */
}

.alert_alert {
  background-color: rgba(248, 229, 229, 0.8); /* Rojo claro */
}

.alert_warning {
  background-color: rgba(252, 240, 197, 0.8); /* Amarillo claro*/
}

.alert_reparto {
  background-color: #f1e7ff; /* Violeta claro */
}

.alert_info {
  background-color: rgba(235, 242, 255, 0.8); /* Azul claro */
}

/*Colores de iconos, más oscuros que el fondo */

.alert_icon {
  display: flex;
  min-width: 20px;
  min-height: 20px;
  /* align-items:flex-start;*/
  padding: 0.5em;
}
.alert_icon_success {
  color: #27ae60;
  --border-color: #27ae60;
}

.alert_icon_alert {
  color: #dc3545;
  --border-color: #dc3545;
}

.alert_icon_warning {
  color: #ffc107;
  --border-color: #ffc107;
}

.alert_icon_reparto {
  color: #9747ff;
  --border-color: #9747ff;
}

.alert_icon_info {
  color: #3880ff;
  --border-color: #3880ff;
}

/* Colores de textos */

.alert_text_success {
  color: #0e4a3a;
}

.alert_text_alert {
  color: #653838;
}

.alert_text_warning {
  color: #6c5826;
}

.alert_text_reparto {
  color: #515151;
}

.alert_text_info {
  color: #515151;
}
