/*Logo karakolas*/
.header_karakolas_img {
  padding-left: 3%;
  min-width: 146px;
  object-fit: fill;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
/* Para que boton superior contabilidad se vea bien mínimo 132px */
.header_item_desktop {
    min-width: 132px;
  --border-width: 0px;
}
/*Espacio a la derecha de la barra*/
.header_right_buttons {
  padding-right: 3%;
}
/*Para colocar el div de los 3 botones de la derecha del todo*/
.header_right_div {
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; 
}

.header_item_radius {
  border-radius: 0.5em;
  min-width: 80px;
}

/* Para mostrar o no menu hamburguesa en la esquina  */
.desktop_buttons {
  display: flex;
}

.mobile_menu {
  display: none;
}
/* Los botones superiores colapsan a 960px en popover para no perder información*/
/* Pero a menos de 790px se mueven la mayoria a iontabs y algunos quedan arriba*/
@media (max-width: 960px) and (min-width: 790px) {
  .desktop_buttons {
    display: none;
  }

  .mobile_menu {
    display: flex;
  }
}

/* Esconder en moviles */
.hide_on_mobile {
  display: none;
}

/* Al reves en pantallas mas anchas */
@media (min-width: 790px) {
  .hide_on_mobile {
    display: block;
  }
}

@media (min-width: 790px) and (max-width:960px) {
  .hide_on_medium_res {
    display: none;
  }
}

/* Estilos para el popover */
.header_popover {
  --width: 250px;
  --max-height: 420px;
  --background: #fff;
  --border-radius: 8px;
}

.pedir_button_popover {
  width: 120px;
  border-radius: 5px;
  background-color: var(--ion-color-primary);
  color: white !important;
  text-align: center;
  padding-right: 5%;
  margin: 5px 0 5px 120px;
}
