.order_table_data_row {
  border-bottom: 1px #666 solid;
  width: 90%;
}

.order_table_header_row {
  display: none;
}

@media (min-width: 576px) {
  .order_table_data_row {
    border-bottom: 0px;
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 8px;
  }
  .order_table_header_row {
    width: 100%;
    max-width: 980px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) inset;
    background-color: #fff;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between;*/
    padding: 10px 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
  }
}

.order_table_controls {
  border-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_table_buttons {
  display: inline-flex;
}

.order_table_trash {
  font-size: 24px;
}

.order_table_product_text,
.order_table_unit_number {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 8px;
}

.order_table_small_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
}

.order_table_total {
  width: 66.66%;
  display: flex;
  align-items: center;
}

.order_table_line_total {
  width: 100%;
  max-width: 980px;
  height: 48px;
  background-color: #ecece3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 16px;
  box-sizing: border-box;
  font-weight: 700;
}
