.ordercard_main {
  width: 90%;  /* Por defecto toma casi todo el ancho (movil) */
   display: flex;
   flex-direction: column;
   /*  height:100%;*/
 }
 
 @media (min-width: 768px) {
   /* sizeLg hasta XL */
   .ordercard_main {
     width: 42%; /* Dos tarjetas por fila */
   }
 }
 
 @media (min-width: 992px) {
   /* sizeXl o mayor */
   .ordercard_main {
     width: 28%; /* Tres tarjetas por fila */
   }
 }
 
 .ordercard_content {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
 }
 
 .ordercard_button {
   margin-top: auto;
 }
 
 .ordercard_date_header {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   width: 100%;
   /* margin-bottom: 0.5em;*/
 }
 
 .ordercard_cierre_date {
   font-style: normal;
   font-weight: bold;
   font-size: 10px;
   line-height: 16px;
   text-transform: uppercase;
   padding-top: 1em;
   padding-left: 5%;
 }
 
 .ordercard_reparto_date {
   font-style: normal;
   font-weight: bold;
   font-size: 10px;
   line-height: 16px;
   text-transform: uppercase;
   padding-top: 1em;
   padding-left: 1em;
   padding-right: 5%;
 }
 
 .ordercard_pedido_title {
   display: flex;
 }
 
 .ordercard_pedido_text {
   padding-top: 1em;
   padding-bottom: 1em;
   display: flex;
   text-align: left;
 }
 
 .ordercard_link_reapertura {
   display: flex;
   text-decoration: underline;
   text-transform: initial;
   text-align: center;
   justify-content: flex-end;
 }
