.product_card_main {
    width: 208px;
    /*inicial
    width:23%;
    height:100%
    */
  }
  
  .product_card_img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  .product_card_info {
    margin-left: 0px;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  
  .product_card_title {
    font-size: medium;
    padding-top: 0.5em;
  }
  
  .product_card_price_div {
    display: flex;
    align-items: center;
    padding-bottom: 0.5em;
  }
  
  .product_card_price_text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: black;
  }
  
  .product_card_unit_type {
    color: #666666;
    font-size: 1em;
    font-weight: normal;
    padding-left: 1em;
  }
  
  .product_card_controls {
    border-top: 1px solid #bfbfbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36.25px;
  }
  
  .product_card_buttons {
    display: inline-flex;
    gap: 0px;
    height: 36px;
  }
  
  .product_card_add_basket {
    height: 30px;
  }
  
  .product_card_units {
    color: #0043b9;  /*Azul mas oscuro que primary*/
    font-size: large;
    font-weight: bolder;
    padding: auto;
    height: 1.5em;
  }
  
  .product_card_icon {
    font-size: 30px;
    color: #0054e9; /* Azul Primary */
    /*margin: 0 4px;  Opcional: para ajustar espacio entre iconos */
  }
  
  .product_card_trash {
    color: #666666;
    font-weight: bolder;
  }
  
  .send_to_bottom {  /*Manda el div abajo del todo. Sacar a general?  */
    margin-top: auto;
    padding-top: 3.2px;
  }