/* Mostrar solo en moviles */
.show_on_mobile {
  display: flex;
}

/* No mostrar en pantallas mas anchas */
@media (min-width: 790px) {
  .show_on_mobile {
    display: none;
  }
}

/* Color y fondo del tab pedir */
.tab_pedir {
  background:#3880ff;
  color: white;
  border-radius: 0.5em; 
}
/*Color de tab pedir en hover*/
.tab_pedir:hover {
  background: darkblue;
}

/*TODO: Pasar a css general? */
.uppercase_text {
  text-transform: uppercase;
}


/*Con anchura menos de 600px mostrar tabs más pequeñas*/
@media (max-width: 600px) {
  .small_tabs {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: center;
    padding: 0 4px;
    font-size: 0.5em; /*Fuente reducida para caber mejor */
  }
}