* {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    color: #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    padding: 1px;
    margin:1px;
}

#user {
    width:100%;
    text-align:right;
    padding-bottom:1px;
    padding-right:3px;
}
#user a {
    color:blue;
}
#uploadform {
    display: block;
    text-align: right;
    overflow: hidden;
}

#uploader h1 {
    display: block;
    float: left;
    font-size:13px;
}

#uploadresponse {
    display: none;
}

#splitter {
    background-color: white;
    height: 400px;
    border: 1px solid #ccc;
    /* no padding allowed */
}

#filetree {
    overflow: auto;
    min-width: 100px;   /* optional */
    /* no margin or border allowed */
}

#filetree > ul {
    padding: 4px;
}

#fileinfo {
    min-width: 100px;
    overflow: auto;
    /* no margin or border allowed */
}

#splitter .vsplitbar {
    width: 6px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #E2EAF3 url(../scripts/jquery.splitter/vgrabber.gif) no-repeat center;
}

#fileinfo {
    text-align: center;
}

#fileinfo * {
    font-size: 12px;
}

#preview > img {
    margin: 25px;
    max-width: 80%;
}

#fileinfo > h1 {
    font-size: 16px;
    margin: 100px auto;
}

#preview dl {
    display: block;
    width: 400px;
    margin: 10px auto;
    overflow: auto;
}

#preview dl dt {
    display: block;
    float: left;
    width: 100px;
    padding: 4px;
    text-align: right;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}
#preview dl dd {
    display: block;
    float: left;
    width: 200px;
    padding: 4px;
    text-align: left;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}

#preview dt {
    clear: left;
}

#preview dd {
    font-weight: bold;
}

#toolbar {
    display: block;
    clear: left;
    margin: 50px auto;
}

button {
    border: 1px outset #ccc;
    padding: 2px;
    margin-left: 4px;
    background-image: url(../images/btnOFF.gif);
    background-repeat: repeat-x;
}

button:hover {
    border: 1px inset #ccc;
    background-image: url(../images/btnON.gif);
}

button span {
    display: block;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 16px;
    white-space: nowrap;
}

button:active,
button:focus {
    font-weight: bold;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
}

#contents.grid {
    padding: 25px;
    text-align: left;
}

#contents.grid li {
    display: block;
    float: left;
    width: 200px;
    min-height: 128px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 25px;
    border: 1px solid white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
}

#contents.grid li:hover {
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
}

div.clip {
    width: 64px;
    height: 64px;
    margin: 10px auto;
    overflow: hidden;
}

#contents.grid li img {
}

#contents.grid p {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#contents.list {
    width: 100%;
}

#contents.list th,
#contents.list td {
    text-align: left;
    padding: 6px;
    white-space: nowrap;
}

#contents.list thead {
    background-image: url(../images/btnOFF.gif);
    background-repeat: repeat-x;
    border-bottom: 1px solid #ccc;
}

#contents.list th {
    font-weight: bold;
    cursor: pointer;
}

#contents.list th.headerSortUp,
#contents.list th.headerSortDown {
    background-image: url(../images/btnON.gif);
}

#contents.list th.headerSortUp span {
    display: block;
    width: 100%;
    padding-right: 20px;
    background-image: url(../images/bullet_arrow_up.png);
    background-repeat: no-repeat;
    background-position: right center;
}

#contents.list th.headerSortDown span {
    display: block;
    width: 100%;
    padding-right: 20px;
    background-image: url(../images/bullet_arrow_down.png);
    background-repeat: no-repeat;
    background-position: right center;
}

#contents.list td {
    border-bottom: 1px dotted #ccc;
}

#contents.list td:first-child {
    width: 100%;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 3px center;
}

#contents.list tbody tr:hover {
    background-color: #eee;
    cursor: pointer;
}

.meta {
    display: none;
}

#activity {
    margin: 100px auto;
}

.contextMenu {
    background-color: #E2EAF3;
}

.contextMenu li.hover a {
    background-color: #BDF;
}

.contextMenu a {
    font-size: 11px;
}

/* these apply to the contextual menus as well as the buttons */
#select span, .contextMenu li.select a { background-image: url(../images/accept.png); }
#download span, .contextMenu li.download a { background-image: url(../images/disk.png); }
#destacar span, .contextMenu li.download a { background-image: url(../images/bookmark.png); }
#rename span, .contextMenu li.rename a { background-image: url(../images/pencil.png); }
#delete span, .contextMenu li.delete a { background-image: url(../images/bin_closed.png); }
#upload span { background-image: url(../images/upload.png); }
#newfolder span { background-image: url(../images/folder_add.png); }
#home span { background-image: url(../images/house.png); }
#new_blank_file span { background-image: url(../images/file_add.png); }
#unzip span { background-image: url(../images/extract.png); }
#submitform span { background-image:url(../images/save.png);}
/* div.jqi button { background-image: url(../images/circular/yes.png); } */

div.jqi {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    min-width: 300px;
    padding: 10px;
    background-color: #E2EAF3;
    border: 2px solid #ccc;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    box-shadow: 2px 2px 8px #ccc;
    -moz-box-shadow: 2px 2px 8px #ccc;
    -webkit-box-shadow: 2px 2px 8px #ccc;
    -ms-box-shadow: 2px 2px 8px #ccc;
}

.jqiclose {
    float: right;
    margin: -9px -7px 0 0;
    font-size: 9px;
    cursor: pointer;
    text-transform: lowercase;
    color: #666;
}

div.jqi button {
    margin-top: 20px;
    float: right;
}

.jqifade{
    background-color: white;
}

#grid span,
#list span {
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

button.ON {
    background-image: url(../images/btnON.gif);
    border: 1px inset #ccc;
}

#grid span {
    background-image: url(../images/application_view_icons.png);
}

#list span {
    background-image: url(../images/application_view_list.png);
}

#list {
    margin-left: 0;
}
