<div class="modal" id="modal_ayuda" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ayuda_title}}</h4>
      </div>
      <div class="modal-body">
        {{& ayuda_body}}
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-right">

            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ T('Continuar')}}</button>
            {{#editable}}
            <a href="/plugin_wiki/page_edit.html/{{ayuda_title}}" class="btn btn-warning" target="_blank">
                {{ T('Editar la ayuda.') }}
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {{/editable}}
          </div>
      </div>
    </div><!-- /.modal-content -->

  </div>
</div>

