<div class="modal" id="modal_cargando" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{ T('Cargando ...') }}</h4>
      </div>
      <div class="modal-body">
        {{ T('Cargando contenido. Por favor espere...') }}
      </div>
    </div><!-- /.modal-content -->

  </div>
</div>

