<div>Copyleft' &#169; 2011-2015
    <div class="btn-group pull-right">
        <span class="btn btn-info" onclick="App.ayuda.show();">
            {{ T('Ayuda de esta página') }}
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
        <a href="/default/index.html?slug=contacto" class="btn btn-default">
            {{ T('Contacto')}}
            <span class="glyphicon glyphicon-earphone"></span>
        </a>
        <a href="https://karakolas.org/" class="btn btn-default" target="_blank">
            karakolas.org
            <img src="img/logokarakolas.png" alt="karakolas.org" style="height:18px;"/>
        </a>
    </div>
</div>

