<div class="modal fade" id="modal_salir_sin_guardar" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ T('¡Hay cambios sin guardar!') }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ T('Has modificado datos en los formularios de la página que no están guardados: ¿seguro que quieres salir?') }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ T('Volver')}}</button>
        <button type="button" class="btn btn-primary" id="continuar" href='#'>{{ T('Descartar cambios y seguir')}}</button>
      </div>
    </div><!-- /.modal-content -->

  </div>
</div>

